table.global-nav {
  width: 920px;
  margin-bottom: 10px;
}

table.global-nav th {
  padding-top: 5px;
  padding-bottom: 8px;
  width: 25%;
  border-bottom: 2px solid silver;
  cursor: pointer;
}

table.global-nav th.active {
  border-bottom: 2px solid #D26911;
}

table.global-nav th a:link, table.global-nav th a:hover, table.global-nav th a:visited {
  color: black;
  text-decoration: none;
}

div.head {
  font-size: large;
  margin-bottom: 10px;
}

div.head a {
  font-weight: bold;
}

div.container {
  width: 920px;
}

div.pagination {
  margin-top: 0px;
  margin-bottom: 0px;
}

div.body {
  margin-bottom: 40px;
}

span.error {
  color: red;
}

.small {
  font-size: small;
}

a.commit-message, a.commit-id, a.committer {
  color: #333333;
}

a.username {
  color: black;
  font-weight: bold;
}

.monospace {
  font-family: monospace;
}

span.description {
  color: gray;
}

table.table-file-list {
  margin-bottom: 0px;
}

table.table-file-list th, table.table-file-list td {
  padding-top: 8px;
  padding-bottom: 8px;
}

table.table-file-list td.latest-commmit {
  padding-top: 4px;
  padding-bottom: 4px;
  background-color: white;
}

table.table {
  margin-bottom: 10px;
}

table.table th {
  background-color: #d9edf7;
}

table.table-file-list td {
  background-color: #F8F8F8;
  font-size: small;
}

th, td, .table th, .table td {
  padding-top: 4px;
  padding-bottom: 4px;
}

div.latest-commit {
  font-size: small;
  font-weight: normal;
}

div.block-header {
  font-size: large;
  font-weight: bold;
}

div.block {
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid silver;
}

pre.commit-description {
  font-weight: normal;
  border: none;
  background-color: transparent;
  padding: 2px;
  margin: 0px;
}

h1.wiki-title {
  margin-top: 0px;
}

h3 {
  margin-top: 0px;
}

#repository-url {
  background-color: white;
  cursor: default;
  width: 350px;
}

div.box {
  background-color: #efefef;
  padding: 2px;
  margin-bottom: 20px;
}

div.box-header {
  font-size: 120%;
  font-weight: bold;
  background-color: #e0e0e0;
  background-image: -moz-linear-gradient(#fafafa, #e0e0e0);
  background-image: -webkit-linear-gradient(#fafafa, #e0e0e0);
  background-image: linear-gradient(#fafafa, #e0e0e0);
  background-repeat: repeat-x;
  margin: 0;
  border-top-left-radius: 1px;
  border-top-right-radius: 1px;
  border: 1px solid #d8d8d8;
  border-bottom: none;
  padding: 10px 10px 11px 10px;
  text-shadow: 0 1px 0 #fff
}

div.box-content {
  background-color: white;
  border: 1px solid silver;
  padding: 4px;
}

th.box-header {
  background-color: #e0e0e0;
  background-image: -moz-linear-gradient(#fafafa, #e0e0e0);
  background-image: -webkit-linear-gradient(#fafafa, #e0e0e0);
  background-image: linear-gradient(#fafafa, #e0e0e0);
  background-repeat: repeat-x;
  margin: 0;
  border-top-left-radius: 1px;
  border-top-right-radius: 1px;
  border: 1px solid #d8d8d8;
  border-bottom: none;
  text-shadow: 0 1px 0 #fff
}


dl {
  margin: 0px;
}

dd {
  margin-left: 20px;
}

hr {
  margin-top: 4px;
  margin-bottom: 4px;
}

ul#commit-file-list {
  list-style-type: none;
  padding-left: 0px;
  margin-left: 0px;
}

ul#commit-file-list li.border {
  padding-bottom: 2px;
  border-top: 1px solid #eee;
}

ul.collaborator {
  list-style-type: none;
  margin-left: 0px;
}
    
ul.collaborator li {
  background-color: #eee;
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 6px;
}
    
ul.collaborator li:hover {
  background-color: #f8f8f8;
}

ul.collaborator a.remove {
  color: #dd0000;
  text-decoration: underline;
}

div.markdown-body table {
  /*width: 100%;*/
  margin-bottom: 20px;
}

div.markdown-body table th,
div.markdown-body table td {
  padding: 8px;
  line-height: 20px;
  text-align: left;
  vertical-align: top;
  border-top: 1px solid #dddddd;
}

div.markdown-body table th {
  font-weight: bold;
  background-color: #efefef;
}

div.markdown-body table thead th {
  vertical-align: bottom;
}

div.markdown-body table caption + thead tr:first-child th,
div.markdown-body table caption + thead tr:first-child td,
div.markdown-body table colgroup + thead tr:first-child th,
div.markdown-body table colgroup + thead tr:first-child td,
div.markdown-body table thead:first-child tr:first-child th,
div.markdown-body table thead:first-child tr:first-child td {
  border-top: 0;
}

div.markdown-body table tbody + tbody {
  border-top: 2px solid #dddddd;
}

div.markdown-body table {
  background-color: #ffffff;
}

div.markdown-body table {
  border: 1px solid #dddddd;
  border-collapse: separate;
  *border-collapse: collapse;
  border-left: 0;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}

div.markdown-body table th,
div.markdown-body table td {
  border-left: 1px solid #dddddd;
}

div.markdown-body table caption + thead tr:first-child th,
div.markdown-body table caption + tbody tr:first-child th,
div.markdown-body table caption + tbody tr:first-child td,
div.markdown-body table colgroup + thead tr:first-child th,
div.markdown-body table colgroup + tbody tr:first-child th,
div.markdown-body table colgroup + tbody tr:first-child td,
div.markdown-body table thead:first-child tr:first-child th,
div.markdown-body table tbody:first-child tr:first-child th,
div.markdown-body table tbody:first-child tr:first-child td {
  border-top: 0;
}

div.markdown-body table thead:first-child tr:first-child > th:first-child,
div.markdown-body table tbody:first-child tr:first-child > td:first-child,
div.markdown-body table tbody:first-child tr:first-child > th:first-child {
  -webkit-border-top-left-radius: 4px;
          border-top-left-radius: 4px;
  -moz-border-radius-topleft: 4px;
}

div.markdown-body table thead:first-child tr:first-child > th:last-child,
div.markdown-body table tbody:first-child tr:first-child > td:last-child,
div.markdown-body table tbody:first-child tr:first-child > th:last-child {
  -webkit-border-top-right-radius: 4px;
          border-top-right-radius: 4px;
  -moz-border-radius-topright: 4px;
}

div.markdown-body table thead:last-child tr:last-child > th:first-child,
div.markdown-body table tbody:last-child tr:last-child > td:first-child,
div.markdown-body table tbody:last-child tr:last-child > th:first-child,
div.markdown-body table tfoot:last-child tr:last-child > td:first-child,
div.markdown-body table tfoot:last-child tr:last-child > th:first-child {
  -webkit-border-bottom-left-radius: 4px;
          border-bottom-left-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
}

div.markdown-body table thead:last-child tr:last-child > th:last-child,
div.markdown-body table tbody:last-child tr:last-child > td:last-child,
div.markdown-body table tbody:last-child tr:last-child > th:last-child,
div.markdown-body table tfoot:last-child tr:last-child > td:last-child,
div.markdown-body table tfoot:last-child tr:last-child > th:last-child {
  -webkit-border-bottom-right-radius: 4px;
          border-bottom-right-radius: 4px;
  -moz-border-radius-bottomright: 4px;
}

div.markdown-body table tfoot + tbody:last-child tr:last-child td:first-child {
  -webkit-border-bottom-left-radius: 0;
          border-bottom-left-radius: 0;
  -moz-border-radius-bottomleft: 0;
}

div.markdown-body table tfoot + tbody:last-child tr:last-child td:last-child {
  -webkit-border-bottom-right-radius: 0;
          border-bottom-right-radius: 0;
  -moz-border-radius-bottomright: 0;
}

div.markdown-body table caption + thead tr:first-child th:first-child,
div.markdown-body table caption + tbody tr:first-child td:first-child,
div.markdown-body table colgroup + thead tr:first-child th:first-child,
div.markdown-body table colgroup + tbody tr:first-child td:first-child {
  -webkit-border-top-left-radius: 4px;
          border-top-left-radius: 4px;
  -moz-border-radius-topleft: 4px;
}

div.markdown-body table caption + thead tr:first-child th:last-child,
div.markdown-body table caption + tbody tr:first-child td:last-child,
div.markdown-body table colgroup + thead tr:first-child th:last-child,
div.markdown-body table colgroup + tbody tr:first-child td:last-child {
  -webkit-border-top-right-radius: 4px;
          border-top-right-radius: 4px;
  -moz-border-radius-topright: 4px;
}