/****************************************************************************/
/* Common */
/****************************************************************************/
body {
  color: #333;
}

div.gitbucket-version {
  font-size: small;
  color: silver;
  float: right;
  margin-right: 10px;
}

table.global-nav {
  width: 920px;
  margin-bottom: 10px;
}

table.global-nav th {
  padding-top: 5px;
  padding-bottom: 8px;
  width: 25%;
  border-bottom: 2px solid silver;
  cursor: pointer;
}

table.global-nav th.active {
  border-bottom: 2px solid #D26911;
}

table.global-nav th a:link, table.global-nav th a:hover, table.global-nav th a:visited {
  color: #333;
  text-decoration: none;
}

div.head {
  font-size: large;
  margin-bottom: 10px;
}

div.head a {
  font-weight: bold;
}

div.container {
  width: 920px;
}

div.pagination {
  margin-top: 0px;
  margin-bottom: 0px;
}

div.body {
  margin-bottom: 40px;
}

span.error {
  color: red;
}

.small {
  font-size: 85%;
}

.strong {
  font-weight: bold;
}

a.commit-message, a.commit-id, a.username, a.issue-comment-count {
  color: #333333;
}

a.omit {
  background-color: #ddd;
  padding-left: 8px;
  padding-right: 8px;
  font-weight: bold;
}

a.omit:hover {
  background-color: #aaa;
}

span.count-right {
  float: right;
  font-weight: bold;
}

.monospace {
  font-family: monospace;
}

table.table th {
  background-color: #d9edf7;
}

div.block-header {
  font-size: large;
  font-weight: bold;
}

div.block {
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid silver;
}

h3 {
  margin-top: 0px;
}

div.box {
  background-color: #efefef;
  padding: 2px;
  margin-bottom: 10px;
}

div.box-header {
  font-size: 120%;
  font-weight: bold;
  background-color: #e0e0e0;
  background-image: -moz-linear-gradient(#fafafa, #e0e0e0);
  background-image: -webkit-linear-gradient(#fafafa, #e0e0e0);
  background-image: linear-gradient(#fafafa, #e0e0e0);
  background-repeat: repeat-x;
  margin: 0;
  border-top-left-radius: 1px;
  border-top-right-radius: 1px;
  border: 1px solid #d8d8d8;
  border-bottom: none;
  padding: 10px 10px 11px 10px;
  text-shadow: 0 1px 0 #fff
}

div.box-header-small {
  background-color: #e0e0e0;
  background-image: -moz-linear-gradient(#fafafa, #e0e0e0);
  background-image: -webkit-linear-gradient(#fafafa, #e0e0e0);
  background-image: linear-gradient(#fafafa, #e0e0e0);
  background-repeat: repeat-x;
  margin: 0;
  border-top-left-radius: 1px;
  border-top-right-radius: 1px;
  border: 1px solid #d8d8d8;
  border-bottom: none;
  padding: 6px 4px 6px 4px;
  text-shadow: 0 1px 0 #fff
}

div.box-content {
  background-color: white;
  border: 1px solid #d8d8d8;
  padding: 4px;
}

th.box-header {
  background-color: #e0e0e0;
  background-image: -moz-linear-gradient(#fafafa, #e0e0e0);
  background-image: -webkit-linear-gradient(#fafafa, #e0e0e0);
  background-image: linear-gradient(#fafafa, #e0e0e0);
  background-repeat: repeat-x;
  margin: 0;
  border-top-left-radius: 1px;
  border-top-right-radius: 1px;
  border: 1px solid #d8d8d8;
  border-bottom: none;
  text-shadow: 0 1px 0 #fff
}

th.metal {
  background-color: #e0e0e0;
  background-image: -moz-linear-gradient(#fafafa, #e8e8e8);
  background-image: -webkit-linear-gradient(#fafafa, #e8e8e8);
  background-image: linear-gradient(#fafafa, #e8e8e8);
  background-repeat: repeat-x;
  margin: 0;
  border-top-left-radius: 1px;
  border-top-right-radius: 1px;
}

dl {
  margin: 0px;
}

dd {
  margin-left: 20px;
}

hr {
  margin-top: 4px;
  margin-bottom: 4px;
}

div.signin-form {
  width: 350px;
  margin: 30px auto;
}

/****************************************************************************/
/* Stacked side menu */
/****************************************************************************/
ul.nav-stacked.side-menu {
  margin-bottom: 0px;
}

ul.nav-stacked.side-menu li {
  background-color: #f9f9f9;
}

ul.nav-stacked.side-menu li a:hover {
  background-color: white;
}

ul.nav-stacked.side-menu li.active a {
  background-color: white;
  color: #333;
  font-weight: bold;
  border-left: 2px solid #cc6666;
}

ul.nav-stacked.side-menu li.active a:hover {
  background-color: white;
  color: #333;
  font-weight: bold;
  border-left: 2px solid #cc6666;
}

.nav-tabs.nav-stacked.side-menu > li:first-child > a {
  -webkit-border-top-right-radius: 0px;

  border-top-right-radius: 0px;
  -webkit-border-top-left-radius: 0px;

  border-top-left-radius: 0px;
  -moz-border-radius-topright: 0px;
  -moz-border-radius-topleft: 0px;
}

.nav-tabs.nav-stacked.side-menu > li:last-child > a {
  -webkit-border-bottom-right-radius: 0px;

  border-bottom-right-radius: 0px;
  -webkit-border-bottom-left-radius: 0px;

  border-bottom-left-radius: 0px;
  -moz-border-radius-bottomright: 0px;
  -moz-border-radius-bottomleft: 0px;
}

/****************************************************************************/
/* Repository Viewer */
/****************************************************************************/
table.table-file-list {
  margin-bottom: 0px;
}

table.table-file-list th, table.table-file-list td {
  padding-top: 8px;
  padding-bottom: 8px;
}

table.table-file-list td.latest-commit {
  padding-top: 4px;
  padding-bottom: 4px;
  background-color: white;
}

table.table-file-list td {
  background-color: #F8F8F8;
  font-size: small;
}

th, td, .table th, .table td {
  padding-top: 4px;
  padding-bottom: 4px;
}

pre.commit-description {
  font-weight: normal;
  border: none;
  background-color: transparent;
  padding: 2px;
  margin: 0px;
}

#repository-url {
  background-color: white;
  cursor: default;
  width: 350px;
}

ul#commit-file-list {
  list-style-type: none;
  padding-left: 0px;
  margin-left: 0px;
}

ul#commit-file-list li.border {
  padding-bottom: 2px;
  border-top: 1px solid #eee;
}

li.L0, li.L1, li.L2, li.L3, li.L4, li.L5, li.L6, li.L7, li.L8, li.L9 {
  list-style-type: decimal;
  background: white;
}

li.L1, li.L3, li.L5, li.L7, li.L9 {
  background: #f5f5f5;
}

pre.blob {
  border: none;
  background-color: white;
  padding-left: 20px;
}

/****************************************************************************/
/* Issues */
/****************************************************************************/
span.issue-status {
  display: block;
  font-size: large;
  text-align: center;
  padding: 8px;
}

table.table-issues {
  margin-top: 12px;
}

a.issue-title {
  color: #333;
  font-weight: bold;
  size: 110%;
}

ul.label-list {
  list-style-type: none;
  padding-left: 0px;
  margin-left: 0px;
  font-size: 90%;
}

ul.label-list a {
  padding-left: 6px;
  padding-top: 4px;
  padding-bottom: 4px;
  margin-bottom: 8px;
  color: #444;
}

span.label-color {
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
}

a#clear-filter {
  display: block;
  color: #444;
  font-weight: bold;
  margin-bottom: 10px;
}

a.milestone-title {
  font-size: 120%;
  font-weight: bold;
}
div.milestone-description {
  border-top: 1px solid #eee;
  color: #666;
}

div.milestone-menu {
  font-size: 80%;
}

div.milestone-menu a {
  margin-left: 8px;
  font-weight: bold;
}

div.milestone-menu a.delete {
  color: #b00;
}

div.milestone-progress {
  position: relative;
  height: 20px;
  color: white;
  margin-bottom: 4px;
  font-weight: bold;
  font-size: 12px;
  text-shadow: 0px 0px 5px #444;
  background-color: silver;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
}

span.milestone-progress {
  position: absolute;
  height: 100%;
  background-color: green;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
}

span.milestone-percentage {
  position: absolute;
  padding-left: 8px;
}

div.issue-header {
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 12px;
  padding-bottom: 12px;
}

div.issue-info {
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
  background-color: #f5f5f5;
  padding: 8px;
  margin-left: 0px;
  margin-right: 0px;
}

div.issue-content {
  padding: 8px;
  background-color: #fbfbfb;
}

h4#issueTitle {
  font-size: large;
  font-weight: bold;
  margin-top: 2px;
  margin-bottom: 0px;
  padding: 0px;
}

div.issue-comment-box {
  margin-bottom: 15px;
  margin-top: 25px;
}

div.issue-comment-action {
  padding-bottom: 10px;
  padding-top: 0px;
  margin-bottom: 10px;
  border-bottom: 4px solid #ddd;
}

.nav-pills > li > span.issue-label {
  display: block;
  padding: 0px 8px 2px 8px;
  margin-top: 2px;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
}

/****************************************************************************/
/* Wiki */
/****************************************************************************/
h1.wiki-title {
  margin-top: 0px;
}

/****************************************************************************/
/* Repository Settings */
/****************************************************************************/
ul.collaborator {
  list-style-type: none;
  margin-left: 0px;
}
    
ul.collaborator li {
  background-color: #eee;
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 6px;
}
    
ul.collaborator li:hover {
  background-color: #f8f8f8;
}

ul.collaborator a.remove {
  color: #dd0000;
  text-decoration: underline;
}

/****************************************************************************/
/* Markdown */
/****************************************************************************/
div.markdown-body table {
  /*width: 100%;*/
  margin-bottom: 20px;
}

div.markdown-body table th,
div.markdown-body table td {
  padding: 8px;
  line-height: 20px;
  text-align: left;
  vertical-align: top;
  border-top: 1px solid #dddddd;
}

div.markdown-body table th {
  font-weight: bold;
  background-color: #efefef;
}

div.markdown-body table thead th {
  vertical-align: bottom;
}

div.markdown-body table caption + thead tr:first-child th,
div.markdown-body table caption + thead tr:first-child td,
div.markdown-body table colgroup + thead tr:first-child th,
div.markdown-body table colgroup + thead tr:first-child td,
div.markdown-body table thead:first-child tr:first-child th,
div.markdown-body table thead:first-child tr:first-child td {
  border-top: 0;
}

div.markdown-body table tbody + tbody {
  border-top: 2px solid #dddddd;
}

div.markdown-body table {
  background-color: #ffffff;
}

div.markdown-body table {
  border: 1px solid #dddddd;
  border-collapse: separate;
  *border-collapse: collapse;
  border-left: 0;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}

div.markdown-body table th,
div.markdown-body table td {
  border-left: 1px solid #dddddd;
}

div.markdown-body table caption + thead tr:first-child th,
div.markdown-body table caption + tbody tr:first-child th,
div.markdown-body table caption + tbody tr:first-child td,
div.markdown-body table colgroup + thead tr:first-child th,
div.markdown-body table colgroup + tbody tr:first-child th,
div.markdown-body table colgroup + tbody tr:first-child td,
div.markdown-body table thead:first-child tr:first-child th,
div.markdown-body table tbody:first-child tr:first-child th,
div.markdown-body table tbody:first-child tr:first-child td {
  border-top: 0;
}

div.markdown-body table thead:first-child tr:first-child > th:first-child,
div.markdown-body table tbody:first-child tr:first-child > td:first-child,
div.markdown-body table tbody:first-child tr:first-child > th:first-child {
  -webkit-border-top-left-radius: 4px;
          border-top-left-radius: 4px;
  -moz-border-radius-topleft: 4px;
}

div.markdown-body table thead:first-child tr:first-child > th:last-child,
div.markdown-body table tbody:first-child tr:first-child > td:last-child,
div.markdown-body table tbody:first-child tr:first-child > th:last-child {
  -webkit-border-top-right-radius: 4px;
          border-top-right-radius: 4px;
  -moz-border-radius-topright: 4px;
}

div.markdown-body table thead:last-child tr:last-child > th:first-child,
div.markdown-body table tbody:last-child tr:last-child > td:first-child,
div.markdown-body table tbody:last-child tr:last-child > th:first-child,
div.markdown-body table tfoot:last-child tr:last-child > td:first-child,
div.markdown-body table tfoot:last-child tr:last-child > th:first-child {
  -webkit-border-bottom-left-radius: 4px;
          border-bottom-left-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
}

div.markdown-body table thead:last-child tr:last-child > th:last-child,
div.markdown-body table tbody:last-child tr:last-child > td:last-child,
div.markdown-body table tbody:last-child tr:last-child > th:last-child,
div.markdown-body table tfoot:last-child tr:last-child > td:last-child,
div.markdown-body table tfoot:last-child tr:last-child > th:last-child {
  -webkit-border-bottom-right-radius: 4px;
          border-bottom-right-radius: 4px;
  -moz-border-radius-bottomright: 4px;
}

div.markdown-body table tfoot + tbody:last-child tr:last-child td:first-child {
  -webkit-border-bottom-left-radius: 0;
          border-bottom-left-radius: 0;
  -moz-border-radius-bottomleft: 0;
}

div.markdown-body table tfoot + tbody:last-child tr:last-child td:last-child {
  -webkit-border-bottom-right-radius: 0;
          border-bottom-right-radius: 0;
  -moz-border-radius-bottomright: 0;
}

div.markdown-body table caption + thead tr:first-child th:first-child,
div.markdown-body table caption + tbody tr:first-child td:first-child,
div.markdown-body table colgroup + thead tr:first-child th:first-child,
div.markdown-body table colgroup + tbody tr:first-child td:first-child {
  -webkit-border-top-left-radius: 4px;
          border-top-left-radius: 4px;
  -moz-border-radius-topleft: 4px;
}

div.markdown-body table caption + thead tr:first-child th:last-child,
div.markdown-body table caption + tbody tr:first-child td:last-child,
div.markdown-body table colgroup + thead tr:first-child th:last-child,
div.markdown-body table colgroup + tbody tr:first-child td:last-child {
  -webkit-border-top-right-radius: 4px;
          border-top-right-radius: 4px;
  -moz-border-radius-topright: 4px;
}