language: scala
sudo: true
jdk:
  - openjdk8
  - openjdk11
script:
  - sbt scalafmtSbtCheck scalafmtCheck test:scalafmtCheck test
before_script:
  - sudo /etc/init.d/mysql stop
  - sudo /etc/init.d/postgresql stop
  - sudo chmod +x /usr/local/bin/sbt
cache:
  directories:
    - $HOME/.ivy2/cache
    - $HOME/.sbt/boot
    - $HOME/.sbt/launchers
    - $HOME/.coursier
