<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Label</key>
    <string>gitbucket</string>
    <key>ProgramArguments</key>
    <array>
      <string>/usr/bin/java</string>
      <string>-Dmail.smtp.starttls.enable=true</string>
      <string>-jar</string>
      <string>gitbucket.war</string>
      <string>--host=127.0.0.1</string>
      <string>--port=8080</string>
      <string>--https=true</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
  </dict>
</plist>
